@{
    ViewData["Title"] = "Shifts";
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.Title</h1>
</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Full Name</th>
        <th scope="col">Date</th>
        <th scope="col">Shift start</th>
        <th scope="col">Shift end</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var data in (IEnumerable<dynamic>) ViewBag.data)
    {
        <tr>
            <td>
                @Html.ActionLink((string) data.FullName,
                    "AddShift",
                    "Shifts",
                    new {id = data.EmployeeId},
                    new {@class = "text-small text-primary ml-3"}
                    )
            </td>
            <td>@data.Date</td>
            <td>@data.ShiftStart</td>
            <td>@data.ShiftEnd</td>
            <td>
                <small>
                    @Html.ActionLink("AddShift",
                        "AddShift",
                        "Shifts",
                        new {id = data.EmployeeId},
                        new {@class = "text-small text-primary ml-3"}
                        )
                </small>
            </td>
        </tr>
    }
    </tbody>
</table>